<div id="slider" tk-slider>
    <img src="/images/slider/1.jpg" data-href="/service.php?serv=climatisation" data-transition='{"effect": "cubeUp", "slices": 9, "animSpeed": 1200, "delay": 100, "delayDir": "fromCentre", "easing": "easeInOutBack", "depthOffset": 300, "sliceGap": 30}'/>
    <img src="/images/slider/2.jpg" data-href="/service.php?serv=ventilation" data-transition='{"effect": "cubeRight", "slices": 5, "delay": 200}'/>
    <img src="/images/slider/3.jpg" data-href="/service.php?serv=humidification" data-transition='{"effect": "cubeDown", "slices": 15, "animSpeed": 3000, "delay": 30, "easing": "easeInOutElastic", "depthOffset": 200, "sliceGap": 20}'/>
    <img src="/images/slider/4.jpg" data-href="/service.php?serv=rafraichissement" data-transition='{"effect": "cubeUp", "slices": 5, "animSpeed": 1300, "delay": 100, "easing": "easeInOutCubic", "depthOffset": 500, "sliceGap": 50}'/>
    <img src="/images/slider/5.jpg" data-href="/service.php?serv=installation" data-transition='{"effect": "cubeUp", "slices": 9, "animSpeed": 1200, "delay": 100, "delayDir": "fromCentre", "easing": "easeInOutBack", "depthOffset": 300, "sliceGap":      30}' />
    <img src="/images/slider/6.jpg" data-href="/service.php?serv=g_a_ch" data-transition='{"effect": "cubeDown", "slices": 15, "animSpeed": 3000, "delay": 30, "easing": "easeInOutElastic", "depthOffset": 200, "sliceGap": 20}' />
</div>
